@font-face {
    font-family: 'Krabby Patty';
    src: url('KrabbyPatty.woff2') format('woff2'),
        url('KrabbyPatty.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

